{% extends 'base.html.twig' %}

{% block title %}Editer l'utilisateur
{% endblock %}

{% block body %}
	<twig:Brodcump firstlink="app_admin_user_index" firstlabel="Liste" pageactuel="Editer"/>
	<twig:Card:Card>
		<twig:Card:Header>
			<twig:H1>Modifier l'utilisateur
				{{ user.fullname }}</twig:H1>
		</twig:Card:Header>
		<div class="p-3">
			{{ include('admin/user/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
			{{ include('admin/user/_delete_form.html.twig') }}
		</div>
	</twig:Card:Card>

{% endblock %}
