<div class="bg-tiersary pb-20 px-3 pt-3 sm:pb-3">
    <div class="max-w-screen-sm mx-auto">
        <h2> Footer </h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut accusamus culpa aliquam unde possimus fugit
            voluptatibus nam molestiae, tenetur praesentium esse nulla facilis ex iure, eos eaque repellendus placeat
            enim?
        </p>
    </div>
</div>