<a href="{{ href }}"
    class="flex items-center gap-1 text-primary-700 hover:text-primary-accent-300 hover:border-b hover:border-primary-accent-300">
    <twig:Icon:Edit />
    <span>editer</span>
</a>