<a href="{{ href }}"
    class="flex items-center gap-1 text-warning-700 hover:text-warning-accent-300 hover:border-b hover:border-warning-accent-300">
    <twig:Icon:Eye />
    <span>voir</span>
</a>