{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
    <h1 class="flex justify-center font-bold text-5xl text-black/70 items-center h-[80vh]">
        Bienvenue sur le dashboard de l'ETS MAF
    </h1>
{% endblock %}