{% props type = 'primary' %}

{% set badget = cva({
    base: "py-0.5 px-1 rounded-md border dark:border-gray-800 text-xs inline-block font-semibold",
    variants: {
        type: {
            primary: "text-primary-100 bg-primary-500",
            secondary: "text-yellow-100 bg-yellow-500",
            success: "text-green-100 bg-green-500",
            danger: "text-danger-100 bg-danger-500",
            default: "text-black/50 bg-gray-50 border-gray-50 font-normal",
        },
    }
}) %}

<div {{ attributes }} class="{{ badget.apply({type}, attributes.render('class')) }}">
    {% block content %}{% endblock %}
</div>
