<div class="relative flex mx-3">
    <input type="search" class="rounded-es-md rounded-ss-md" placeholder="rechercher" id="search-input"/>
    <button
        class="relative z-[2] -ms-0.5 flex items-center rounded-e bg-primary-700 px-5  text-xs font-medium uppercase leading-normal text-white shadow-primary-3 transition duration-150 ease-in-out hover:bg-primary-accent-300 hover:shadow-primary-2 focus:bg-primary-accent-300 focus:shadow-primary-2 focus:outline-none focus:ring-0 active:bg-primary-600 active:shadow-primary-2 dark:shadow-black/30 dark:hover:shadow-dark-strong dark:focus:shadow-dark-strong dark:active:shadow-dark-strong"
        type="button" id="button-addon1" data-twe-ripple-init data-twe-ripple-color="light">
        <span class="[&>svg]:h-5 [&>svg]:w-5">
            <twig:Icon:Search />
        </span>
    </button>
</div>